{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="wrapper">
  <div class="welcome">
    <h1>Cinema Ironhack</h1>
    <button id="button-check-movies">Check the movies!</button>
  </div>
</div>
