<div class="movie-wrapper">

  {{#each movies}}

  <div class="movie-list">
    <p>Movie title: {{ this.title }} </p>
    <p>Directed by: {{ director }} </p>
    <img src="{{ image }}" alt="movie image">
  </div>

  {{/each}}

</div>